<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet10">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet10-transport">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet11">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet11-transport">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
